<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.iot5.domain.dao.BoardDAO">
 
  <select id="getAllCnt" resultType="int">
     select count(num) as allcnt from board
  </select>
  
  <select id="getArticles" resultType="bvo" parameterType="bvo">
   	 select * from 
	  (SELECT @rownum:=@rownum+1 as no, num, writer, subject, content, reg_date,  
	    readcount, lev, step, ref, ip, passwd, email 
	 	FROM board 
	   where (@rownum:=0)=0 order by ref desc, num, step) as rownumtbl
	 <![CDATA[
      where no>=#{startRow} and no <=#{endRow}
     ]]>  
  </select>
  
  <select id="getArticle" resultType="bvo" parameterType="bvo">
	  SELECT  num, writer, subject, content, reg_date,  
	  readcount, lev, step, ref, ip, passwd, email 
	 	FROM board 
	 where num=#{num}
  </select>
  
  <insert id="writeArticle" parameterType="bvo">
     insert board(num, writer, subject, content, reg_date,ref, 
	               ip, passwd, email, step, lev)
	<choose>
	  <when test="num==0 and ref==0">
	  values(#{newNum}, #{writer}, #{subject}, #{content},sysdate(),#{newNum}, 
	         #{ip}, #{passwd}, #{email}, #{step}, #{lev})
	  </when>
      <when test="ref>0">
       values(#{newNum}, #{writer}, #{subject}, #{content}, sysdate(),#{ref}, 
	         #{ip}, #{passwd}, #{email}, #{step}+1, #{lev}+1)
      </when>   
	</choose>
	<selectKey keyProperty="newNum" resultType="int" order="BEFORE">
	    SELECT IFNULL(MAX(NUM)+1,1) AS newNum FROM BOARD
	</selectKey>
  </insert>
    <update id="updateAriticle" parameterType="bvo">
        update board set
          writer = #{writer},
          subject = #{subject},
          content = #{content},
          email = #{email},
          passwd = #{passwd},
          ip = #{ip},
          reg_date = sysdate()
        where num = #{num}
    </update>
    <update id="updateReadCount" parameterType="bvo">
       update board set
          readcount =readcount+1
       where num=#{num}
    </update>
    <delete id="deleteArticle" parameterType="bvo">
      delete from board where num=#{num}
    </delete>
</mapper>